
.about {  
  padding: 200px 0;
  background: $about-bg;
  i{
    color: $primary-font;
    width: 200px;
  }
  .about-content{
    @extend .container;
    display: flex;
    justify-content: space-between;
    //align-items: center;
    h1{
    color:$about-title;
    font-size: 48px;
    }
    p{
      max-width: 500px;
      width: 100%;
      color: $primary-font;
      margin: 15px;
      font-size: 24px;
    }
  }
}