.about {
  padding: 100px 0;
  background: $about-bg;

  .about-content {
    @extend .container;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $primary-font;
    .about-btns {
      display: flex;
      justify-content: space-between;
      width: 500px;
    }
    .btn {
      margin: 10% 0 0 0;
      width: initial;
    }
    .about-links {
      display: flex;
      justify-content: space-between;
      margin: 5px 0;
      a {
        margin: 15px 10px;
      }
      i {
        color: $primary-font;
        transition: all 0.2s;
        &:hover {
          transform: scale(1.1);
        }
        &:active {
          transform: scale(1);
        }
      }
    }
    h4 {
      font-family: 'Roboto', sans-serif;
      margin: 0 0 0 0;
      color: $primary-font;
    }

    h1 {
      font-family: 'Merriweather';
      color: $about-title;
      font-size: 128px;
      text-align: center;
    }
    p {
      max-width: 500px;
      width: 100%;
      color: $primary-font;
      margin: 15px;
      font-size: 16px;
    }
  }
}
