.arrow-icons {
  background: $arrow-color;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  color: $primary-font;
  display: none;

  div{
    @extend .container-sm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;     
  }
 
  i{
    cursor: pointer;
  }  
  h6{
    font-family: 'Roboto', sans-serif;

  }
}

.arrow-icons-inverse {
  @extend .arrow-icons;
  background: $primary-color;
  i{
    color:$primary-font;
    transition: transform 0.2s;
  }
}