.btn {
  cursor: pointer;
  margin: 15px 0;
  padding: 8px;
  width: 75px;
  background: $secondary-color;
  color: $secondary-font;
  font-size: 24px;
  border-radius: 2px;
  transition: all;
  font-weight: bold;
  &:hover {
    font-weight: bold;
    transform: scale(1.1)
  }
  &:active {
    font-weight: bold;
    transform: scale(1)
  }
}

.btn-disabled {
  @extend .btn;
  background: darkgray;
  color: grey;
  &:hover {
    font-weight: bold;
    transform: scale(1)
  }
  &:active {
    font-weight: bold;
    transform: scale(1)
  }
}