header {
  background: $header-bg;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 1;
  // border-bottom: 50px solid $header-border;
  nav {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-content: center;
    justify-content: flex-end; 
    text-transform: uppercase;
    .nav-items {
      display: flex;
      align-items: center;

      a {
        color: $nav-items;
        font-family: 'Roboto', sans-serif;
        transition: all;
        padding: 10px 10px;
        text-decoration: none;

        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
        
      }
    }
  }
  //Nav Bar Title
  h1 {
    color: $nav-items;
    font-size: 36px;
    font-family: 'Merriweather';
  }
}

.selected {
  font-weight: bold;
}