$primary-color: #263238;
$primary-light: #ff5131;
$secondary-color: #8d6e63;

$primary-font: #fff;
$secondary-font: #fff;

$arrow-color: $primary-color;

$body-bg: $primary-color;

$header-bg: $primary-color;
$header-border: $secondary-color;
$nav-title: #fff;
$nav-items: #fff; 

$about-bg: $primary-color;
$about-title: $primary-font;

$projects-bg : $primary-color;
$projects-title: $primary-font;

$contact-bg : $primary-color;
$contact-title: $primary-font;