$primary-color: #D50000;
$primary-light: #ff5131;
$secondary-color: #00C853;

$primary-font: #fff;
$secondary-font: #000;



$body-bg: $secondary-color;

$header-bg: $primary-color;
$header-border: $secondary-color;
$nav-title: #fff;
$nav-items: #fff; 

$about-bg: $primary-color;
$about-title: $primary-font;

$projects-bg : $secondary-color;
$projects-title: $secondary-font;